@use "@/app/variables.scss";

.heroes {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    max-width: calc(variables.$max-width - 700px); // Corrigido
    position: absolute;
    top: 40%;
    width: 100%;
    @media screen and (min-width: variables.$max-width) { // Corrigido
        max-width: calc(variables.$max-width - 400px);
        top: 50%;
    }
}

.imageContainer {
    cursor: pointer;
    position: relative;
    img {
        height: 100%;
        object-fit: contain;
        object-position: bottom;
        width: 100%;
    }
    &.spider-man-616 {
        height: variables.$spider-man-616-height; // Corrigido
    }
    &.mulher-aranha-65 {
        height: variables.$mulher-aranha-65-height; // Corrigido
    }
    &.spider-man-1610 {
        height: variables.$spider-man-1610-height; // Corrigido
    }
    &.sp-dr-14512 {
        height: variables.$sp-dr-14512-height; // Corrigido
    }
    &.spider-ham-8311 {
        height: variables.$spider-ham-8311-height; // Corrigido
    }
    &.spider-man-90214 {
        height: variables.$spider-man-90214-height; // Corrigido
    }
    &.spider-man-928 {
        height: variables.$spider-man-928-height; // Corrigido
    }
}

.title {
    font-size: 26vw;
    margin: 0;
    @media screen and (min-width: variables.$max-width) { // Corrigido
        font-size: 30rem;
    }
}